@font-face {
	font-family: "polly";
	src: url("polly.ttf");
}
body {
	margin: 0;
}
html {
	overflow-x: hidden;
}
.bg-main {
	background: #3088f4;
}
.text-main {
	color: #3088f4;
}
.main-text {
	color: #3088f4;
}
------
.cfs-0 {
	font-size: 7.2vh;
}
.cfs-05 {
	font-size: 5.75vh;
}
.cfs-1 {
	font-size: 5vh;
}
.cfs-2 {
	font-size: 3.75vh;
}
.cfs-3 {
	font-size: 2.75vh;
}
.cfs-4 {
	font-size: 2.25vh;
}
------
.cmt-1 {
	margin-top: 0.5vh;
}
.cmt-2 {
	margin-top: 0.75vh;
}
.cmt-3 {
	margin-top: 1.25vh;
}
.cmt-4 {
	margin-top: 2vh;
}
.cmt-5 {
	margin-top: 3vh;
}
.cmt-6 {
	margin-top: 4.5vh;
}
.cmt-7 {
	margin-top: 6vh;
}
.cmt-10 {
	margin-top: 6vh;
}
------
.cms-5 {
	margin-left: 1.3vh;
}
.cms-6 {
	margin-left: 2vh;
}
.cms-7 {
	margin-left: 3.5vh;
}
.cms-10 {
	margin-left: 10vh;
}
------
.cme-4 {
	margin-right: 0.6vh;
}
.cme-5 {
	margin-right: 1.3vh;
}
.cme-6 {
	margin-right: 2vh;
}
------
.ps-6 {
	padding-left: 5vh;
}
.cpx-3 {
	padding-left: 1.5vh;
	padding-right: 1.5vh;
}
.cpx-6 {
	padding-left: 5vh;
	padding-right: 5vh;
}
------
.cpy-2 {
	padding-top: 0.75vh;
	padding-bottom: 0.75vh;
}
.cpy-3 {
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}
.cpy-6 {
	padding-top: 5vh;
	padding-bottom: 5vh;
}